@use "sass:math";
@import "variables";
@import "helpers";

.gallery {
    &__hdl {
        @extend %hdl-typography;
        position: relative;
        margin: toRem(325px) 0 0 0;

        &::after {
            display: inline-block;
            position: absolute;
            content: "";
            background-color: $primary-color;
            height: toRem(3px);
            width: toRem(283px);
            left: 0;
            bottom: -32px;
        }
    }

    &__text {
        @extend %subhdl-typography;
        margin: toRem(68px) 0 0 0;
    }

    .l-subhdl-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 toRem(144px) 0;
    }

    .carousel {
        display: flex;

        &-item {
            width: toRem($long-space-px*3 + $short-space-px*2);
            margin: 0 toRem($short-space-px) 0 0;
            border-radius: 20px;
            filter: brightness(.8);
            transition: 200ms;

            &:hover {
                transform: translateY(-3rem);
                cursor: pointer;
            }
        }
    }
}