@use "sass:math";
@import "variables";
@import "helpers";

.hero {
    background-image: url('#{$imgs-path}/bg_hero.jpg');
    background-position: center;
    background-size: cover;
    //padding-bottom: 150px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

    &__header {
    }
}

.header {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: toRem($full-width-px);
    width: 100%;
    margin: auto;
}

.main-menu {
    &__item {
        @extend %menu-item;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        overflow: hidden;
        position: relative;
        transition: all 100ms;


        &::before {
            content: attr(data-text);
            transform: scale(1.1) translateY(-.1rem);
            height: 0;
            visibility: hidden;
            pointer-events: none;
            user-select: none;
        }

        &::after {
            transition: all 200ms;
            transform: scale(1.1) translateY(-.1rem);
            opacity: 0;
            content: '';
            background-color: $primary-color;
            position: absolute;
            bottom: toRem(6px);
            left: toRem(16px);
            display: block;
            width: calc(100% - 2rem);
            height: toRem(3px);
        }
    }

    &__item--active, &__item:hover {
        transform: scale(1.1) translateY(-.1rem);
        position: relative;
        cursor: default;


        &::after {
            opacity: 1;
            content: '';
            background-color: $primary-color;
            position: absolute;
            bottom: toRem(6px);
            left: toRem(16px);
            display: block;
            width: calc(100% - 2rem);
            height: toRem(3px);
        }
    }
    &__item:not(&__item--active) {
        cursor: pointer;
    }
}

.auth-menu {
    &__item {
        @extend %menu-item;
        display: inline-flex;
        margin-inline: toRem(math.div($short-space-px,2));
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        overflow: hidden;
        transition: scale 100ms;

        &::before {
            content: attr(data-text);
            transform: scale(1.1) translateY(-.1rem);
            height: 0;
            visibility: hidden;
            pointer-events: none;
            user-select: none;
        }
    }

    &__item--active, &__item:hover {
        transform: scale(1.1) translateY(-.1rem);
        position: relative;
    }

    &__item--btn {
        border-radius: toRem(12px);
        background-color: $primary-color;
        padding: toRem(20px) toRem(32px);
        transition: all 200ms;

        &:hover {
            font-weight: 400;
            transform: scale(1.2);
        }
    }
}

.lead {
    color: $primary-font-color;
    max-width: toRem($full-width-px);
    width: 100%;
    margin: auto;

    &__hdl {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: toRem(84px);
        line-height: 1.33;
        margin: 0;
    }

    &__text {
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: toRem(24px);
        display: inline-block;
    }
}

.search {
    width: 100%;
    max-width: toRem($full-width-px);
    margin: auto;
    position: relative;

    &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        left: -100%;
        position: absolute;
        background-color: $secondary-color;
    }

    &__wrapper {
        background-color: $secondary-color;
        max-width: toRem($full-width-px - 2 * $short-space-px - 2 * $long-space-px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 toRem(20px) toRem(20px) 0;
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: toRem(225px);
    }

    &__lbl {
        font-family: Rubik, sans-serif;
        color: $secondary-font-color;
        font-weight: 400;
        font-size: toRem(16px);
        line-height: 1.187;
        text-transform: uppercase;
        margin-bottom: toRem(12px);
    }

    &__input {
        font-family: 'Playfair Display', serif;
        font-size: toRem(20px);
        font-weight: 400;
        color: $input-font-color;
        width: 100%;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        padding-bottom: toRem(10px);
        padding-top: toRem(10px);
        border-color: #000;
        border-bottom: 2px solid;

        &:focus, &::selection {
            border: none;
        }
    }

    &__btn {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: toRem(36px);
        line-height: 1.3;
        color: $primary-font-color;
        border: 0;
        background-color: $primary-color;
        padding: toRem(60px) toRem(69px) toRem(60px) toRem(20px);
        text-align: left;
        border-top-right-radius: toRem(20px);
        border-bottom-right-radius: toRem(20px);
        cursor: pointer;
        margin-right: -1px;
        position: relative;

        &::after {
            content: '';
            background-image: url("#{$imgs-path}/arrow.svg");
            background-repeat: no-repeat;
            display: inline-block;
            width: toRem(22px);
            height: toRem(16px);
            position: absolute;
            right: toRem(18px);
            bottom: toRem(100px);
            transition: all 200ms;
        }

        &:hover::after {
            content: '';
            background-image: url("#{$imgs-path}/arrow.svg");
            background-repeat: no-repeat;
            display: inline-block;
            width: toRem(22px);
            height: toRem(16px);
            position: absolute;
            right: toRem(18px);
            //transform: scale(1.2);
        }
    }

    .l-search-btn-wrapper {
        display: inline-flex;
        flex-direction: column;
        transition: all 200ms;
        &:after {
            content: attr(data-text);
            transform: scale(1.1);
            height: 0;
            visibility: hidden;
            user-select: none;
            pointer-events: none;
            @media speech {
                display: none;
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}
