@import "variables";
@import "helpers";

%menu-item {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: toRem(20px);
    line-height: toRem(24px);
    color: $primary-font-color;
    text-decoration: none;
    padding: toRem(10px);
    margin: toRem(6px);
    display: inline-block;
}

.intro {
    background-image: url('#{$imgs-path}/bg_intro.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

    &__header {
    }
}

.header {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: toRem($max-width-px);
    width: 100%;
    margin: auto;
}

.main-menu {
    &__item {
        @extend %menu-item;
    }

    &__item--active, &__item:hover {
        font-weight: 500;
        position: relative;

        &::after {
            content: '';
            background-color: $primary-color;
            position: absolute;
            bottom: toRem(6px);
            left: toRem(10px);
            display: block;
            width: calc(100% - toRem(20px));
            height: toRem(3px);
        }
    }
}

.auth-menu {
    &__item {
        @extend %menu-item;
    }

    &__item--btn {
        border-radius: toRem(12px);
        background-color: $primary-color;
        padding: toRem(20px) toRem(32px);
    }
}

.lead {
    color: $primary-font-color;
    max-width: toRem($max-width-px);
    width: 100%;
    margin: auto;

    &__hdl {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: toRem(84px);
        line-height: 1.33;
        margin: 0;
    }

    &__text {
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: toRem(24px);
        display: inline-block;
    }
}

.search {
    width: 100%;
    max-width: toRem(1556px);
    margin: auto;
    position: relative;
    &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        left: -100%;
        position: absolute;
        background-color: $secondary-color;
    }

    &__wrapper {
        background-color: $secondary-color;
        max-width: toRem(1291px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 toRem(20px) toRem(20px) 0;
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: toRem(225px);
    }

    &__lbl {
        font-family: Rubik, sans-serif;
        color: $secondary-font-color;
        font-weight: 400;
        font-size: toRem(16px);
        line-height: 1.187;
        text-transform: uppercase;
        margin-bottom: toRem(12px);
    }

    &__input {
        font-family: 'Playfair Display', serif;
        font-size: toRem(20px);
        font-weight: 400;
        color: $input-font-color;
        width: 100%;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        padding-bottom: toRem(10px);
        padding-top: toRem(10px);
        border-bottom: 1px;
    }

    &__btn {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: toRem(36px);
        line-height: 1.3;
        color: $primary-font-color;
        border: 0;
        background-color: $primary-color;
        padding: toRem(60px) toRem(69px) toRem(60px) toRem(20px);
        text-align: left;
        border-top-right-radius: toRem(20px);
        border-bottom-right-radius: toRem(20px);
        cursor: pointer;
        margin-right: -1px;
        position: relative;
        &::after{
            content: '';
            background-image: url("#{$imgs-path}/arrow.svg");
            background-repeat: no-repeat;
            display: inline-block;
            width: toRem(22px);
            height: toRem(16px);
            position: absolute;
            right: toRem(18px);
        }
    }
}

.destinations {
    &__hdl {}
    &__subhdl {}
    &__text {}
    &__nav {}
    &__nav-left {}
    &__nav-right {}
    &__slider {}
    &__slide {
        &-name {}
        &-localtion {}
    }
}

.offer {
    &__hdl {}
    &__subhdl {}
    &__nav {}
    &__nav-left {}
    &__nav-right {}
    &__text {}
    &__folder {}
}

.folder {
    &__photo {}
    &__content {}
    &__location {}
    &__rating {}
    &__desc {}
    &__details {}
}

.details {
    &__price {}
    &__btn {}
}

.blog {
    &__hdl {}
    &__subhdl {}
    &__blog-entry {}
}

.blog-entry {
    &__photo {}
    &__img {}
    &__content {}
    &__hdl {}
    &__text {}
    &__read-more {}
}

.planners {
    &__start {}
    &__hdl {}
    &__text {}
    &__btn {}
    &__slider {}
    &__slide-img {}
}

.gallery {
    &__hdl {}
    &__subhdl {}
    &__text {}
    &__nav {}
    &__nav-left {}
    &__nav-right {}
}

.testimonial {
    &__hdl {}
    &__subhdl {}
    &__slider {}
    &__slide {}
    &__avatar {}
    &__review {}
    &__rating {}
    &__name {}
    &__title {}
    &__nav {}
    &__nav-left {}
    &__nav-right {}
}

.newsletter {
    &__hdl {}
    &__form {}
    &__lbl {}
    &__email {}
    &__btn {}
}

.footer {}

.copyright {
    &__logo {}
    &__text {}
}

.footer-logo {
    &__img {}
}

.footer-menu {
    &__hdl {}
    &__item {}
}

.footer-info {
    &__hdl {}
    &__item {}
}

.footer-contact {
    &__hdl {}
    &__item {}
}

.footer-social {
    &__hdl {}
    &__img {}
}