@use "sass:math";
@import "variables";
@import "helpers";

.testimonial {
    margin: toRem(344px) 0 0 0;

    &__hdl {
        @extend %hdl-typography;
        position: relative;

        &:after {
            display: inline-block;
            position: absolute;
            content: "";
            background-color: $primary-color;
            height: toRem(3px);
            width: toRem($long-space-px*3 + $short-space-px*2);
            left: 0;
            bottom: - toRem(33px);
        }
    }

    &__subhdl {
        margin: toRem(68px) 0 0 0;
        @extend %subhdl-typography;
    }

    .carousel {
        display: flex;
        justify-content: space-between;
        width: toRem($long-space-px*15 + $short-space-px*18);
        margin: 0 0 toRem(160px) 0;

        &-item {
            border-radius: 10px;
            background-color: $testimonial-bg-color;
            width: toRem($long-space-px*5 + $short-space-px*5);
            margin: toRem(166px) toRem($short-space-px) 0 0;
            position: relative;
            padding: toRem($short-space-px);

            &__avatar {
                border-radius: 50%;
                position: absolute;
                width: toRem($long-space-px);
                left: toRem($short-space-px);
                top: -4rem;
            }

            &__review {
                margin: toRem(60px - $short-space-px) 0 0 0;
                font-family: Rubik, sans-serif;
                font-size: toRem(18px);
                color: $secondary-font-color;
                line-height: math.div(23, 18);
                font-weight: 400;
                text-decoration: none;
            }

            &__rating {
                margin: toRem(20px) 0 0 0;
                height: 24px;
                width: 5*27px;
                background-image: url('#{$imgs-path}/rating_star.svg');
                background-repeat: repeat-x;
                background-position: -3px 0;
            }

            &__name {
                margin: toRem(20px) 0 0 0;
                font-family: "Playfair Display", serif;
                font-size: toRem(24px);
                line-height: math.div(32, 24);
                font-weight: 400;
                color: $secondary-font-color;
                text-decoration: none;
            }

            &__title {
                margin: toRem(7px) 0 0 0;
                font-family: Rubik, sans-serif;
                font-size: toRem(18px);
                line-height: math.div(21, 18);
                font-weight: 400;
                color: $secondary-font-color;
                text-decoration: none;
            }
        }
    }

    & .carousel-nav {
        display: flex;
        margin-left: auto;
    }
}