$base-font-size: 16px;
$short-space-px: 34px;
$long-space-px: 99px;
$full-width-px: $short-space-px * 11 + $long-space-px * 12;
$imgs-path: '../images';
$primary-font-color: #FFF;
$secondary-font-color: #767E86;
$primary-color: #FF7757;
$secondary-color: #FFF;
$tertiary-color: #172432;
$offer-bg-color: #fff8f1;
$tertiary-font-color: #172432;
$input-font-color: #172432;

html, body {
  font-size: $base-font-size;
}