$base-font-size: 16px;
$max-width-px: 1556px;
$spacing-px: 32px;
$imgs-path: '../images';
$primary-font-color: #FFF;
$secondary-font-color: #767E86;
$primary-color: #FF7757;
$secondary-color: #FFF;
$tertiary-color: #172432;
$tertiary-font-color: #172432;
$input-font-color: #172432;

html, body {
  font-size: $base-font-size;
}