@use "sass:math";
@import "helpers";

$base-font-size: 16px;
$short-space-px: 34px;
$long-space-px: 99px;
$full-width-px: $short-space-px * 11 + $long-space-px * 12;
$imgs-path: '../images';
$primary-font-color: #FFF;
$secondary-font-color: #767E86;
$primary-color: #FF7757;
$secondary-color: #FFF;
$tertiary-color: #172432;
$offer-bg-color: #fff8f1;
$tertiary-font-color: #172432;
$input-font-color: #172432;
$testimonial-bg-color: #f5f6f7;
$form-bg-color: #ffe8d4;

html, body {
  font-size: $base-font-size;
}

%menu-item {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: toRem(20px);
  line-height: math.div(20, 24);
  color: $primary-font-color;
  text-decoration: none;
  //padding: toRem(10px);
  //margin: toRem(6px);
}

%hdl-typography {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: toRem(64px);
  line-height: math.div(64, 85);
  color: $tertiary-font-color;
  text-decoration: none;
}

%subhdl-typography {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: toRem(24px);
  line-height: math.div(24, 28);
  color: $secondary-font-color;
  text-decoration: none;
  //display: inline-block;
}

%footer-menu-typography {
  font-family: Rubik, sans-serif;
  font-size: toRem(18px);
  line-height: math.div(18, 21);
  color: $primary-font-color;
  text-decoration: none;
}